@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  background-color: #353535;
  overflow: hidden;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 2.5rem;
  background-color: #353535;
  color :white;
  border: none;
  font-weight: 600;
  font-size: 30px;
  padding-top: 10px;
  cursor: pointer;
}

.nav-contact {
  font-size: 1.5rem;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color :white;
  margin-right: 0px;
}
.nav-contact1 {
  font-size: 0.8rem;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color :white;
  margin-right: 0px;
  text-align: right;
}

.category-title {
  font-size: 2rem;
  padding : 0 30%;
}

.category-list {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-category button {
  width: 30%;
  height: 3rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  color: white;
  margin-top: 10px;
}

.category button {
  width: 24.5%;
  height: 3rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  color: white;
  margin-bottom: 13px;
}

.category-item:hover {
  color: #e69a06;
  cursor: pointer;
}

.all-category {
  padding: 7px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  padding: 0 1.5rem;
}

@media all and (min-width: 1024px) {
  .inner {
    max-width: 1024px;
    margin: 0 auto;
  }
}


.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.form-holder .form-content {
position: relative;
text-align: center;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
padding: 0 auto;
width: 100%;
height: 100%;
}

.form-content .form-items {
border: 3px solid #fff;
padding-top: 30px;
display: inline-block;
width: 100%;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 13px;
text-align: center;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.fixed_headers {
	width: 100%;
  height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.fixed_headers th {
	padding: 5px;
  color: black;
}

.fixed_headers td {
	padding: 7px;
  text-align: left;
  color: white;
}


.fixed_headers thead {
	background-color: white;
  display: block;
  position: relative;
  width: 100%;
}

.fixed_headers thead tr {
  position: relative;
  width: 100%;
  padding: 5px;
}

.fixed_headers th:nth-child(1) { min-width: 100px; }
.fixed_headers th:nth-child(2) { min-width: 250px; }
.fixed_headers th:nth-child(3) { min-width: 285px; }
.fixed_headers th:nth-child(4) { min-width: 80px; }
.fixed_headers th:nth-child(5) { min-width: 80px; }
.fixed_headers th:nth-child(6) { min-width: 105px; }


.fixed_headers td:nth-child(1) { min-width: 50px; }
.fixed_headers td:nth-child(2) { min-width: 100px; }
.fixed_headers td:nth-child(3) { min-width: 250px; }
.fixed_headers td:nth-child(4) { min-width: 100px; }
.fixed_headers td:nth-child(5) { min-width: 50px; }

.fixed_headers tbody {  
  display: block;
  overflow: auto;
  width: 100%;
  height: 400px;
}
/* 
.fixed_headers tbody tr:nth-child(even) {
  background-color: #e69a06;
} */
.old_ie_wrapper {
  height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.old_ie_wrapper tbody { height: auto; }

.address-size {
  font-size: 12px;
  align-items: center;
}

.reservation-button {
  background-color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 17px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}